.container {
  display: flex;
  justify-content: center;
}
.btn {
  margin: 10px;
  background-color: #FFA8A8;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
  font-family: 'Lobster Two', cursive;
}
body {
  background-color: #B8E8FC;
}
h1 {
  font-family: 'Lobster Two', cursive;
  font-size: 40px;
}
h2 {
  font-family: 'Lobster Two', cursive;
}
.btnTwo {
  font-family: 'Lobster Two', cursive;
  font-size: 25px;
  background-color: #FF6363;
  border: none;
  border-radius: 10px;
}